/* Feuille de styles CSS */
html{
    background-color:#eeeeee;
    font-family:'Times', sans-serif;

}
body{
    background-color:white;
    width:600px;
    padding:32px;
    margin:auto;
}
a:hover{
    color:#007bff;
    font-weight:bold;
    text-align: right; 
}
table{
    border-collapse:collapse;
    text-algn: center;
    margin: 3px;
    padding:1px;
}
div,#paraimg{
    text-align: center;
}
