/* Feuille de styles CSS */
html{
    background-color:#eeeeee;
    font-family:'Times', sans-serif;

}
body{
    background-color:white;
    width:600px;
    padding:32px;
    margin:auto;
}
p{
    text-align:justify;
}
.LEGO{
    color:#007bff;
    font-style:italic
}
